.booking-form {
    height: 84.2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.booking-form .subset1 {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    font-family: "Markazi Text";
    font-size: xx-large;
    align-items: center;
    margin-top: 5vh;
}

.subset1 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
}

#submit-button {
    background-color: #F4CE14;
    padding: 1em;
    margin-bottom: 7vh;
    border-radius: 1em;
    border: 0px;
    font-family: "Karla";
    font-weight: bolder;
    font-size: medium;
    box-shadow: 0em 0.1em 0.5em #dab915;
}

@media (width <= 480px)
{
    .booking-form .subset1
    {
        gap: 6vh;
    }
}