footer {
    background-color: #F4CE14;
}

.footer{
    padding-top: 2em;
    padding-bottom: 2em;
}

.footer img {
    grid-area: 1 / 3 / span 1 / span 3;
}

#foot1 {
    grid-area: 1 / 5 / span 1 / span 2;
}

.footer.align h2 {
    margin: 0px;
    font-family: "Karla";
    font-weight: 900;
    font-size: 1.2em;
    color:#495E57;
}

.footer.align p {
    margin: 2px;
    font-family: "Karla";
    color:#495E57;
}

#foot2 {
    grid-area: 1 / 7 / span 1 / span 2;
}

#foot3 {
    grid-area: 1 / 9 / span 1 / span 3;
}

@media(max-width: 480px) {
    footer {
        display: none;
    }
}