.menu
{
    row-gap: 1em;
    margin-bottom: 10svh;
    grid-template-rows: repeat(6, 20svh);
    font-family: "Markazi Text";
}
.menu-title
{
    grid-area: 1 / 3 / span 1 / span 9;
    text-align: center;
    font-size: 3em;
}
.menu-title h1
{
    margin: 0;
    padding: 0;
}
.menu-section
{
    text-align: center;
}
.menu-section h1
{
    margin: 0;
    font-family: "Markazi Text";
    font-size: 3rem;
    color: #495E57;
}
#starters
{
    grid-area: 2 / 3 / span 3 / span 4;
}
#main
{
    grid-area: 2 / 7 / span 3 / span 4;
}
#desserts
{
    grid-area: 5 / 3 / span 3 / span 4;
}
#drinks
{
    grid-area: 5 / 7 / span 3 / span 4;
}
.one
{
    display: flex;
    text-align: left;
    border: 1px solid gray;
    margin-bottom: 1svh;
}
.one h3
{
    font-size: 2rem;
    margin: 0;
}
.one p
{
    font-size: 1.4rem;
}
.one:hover
{
    background-color: #F4CE14;
}
.two#image
{
    display: flex;
    align-items: center;
    width: 17em;
}
.two
{
    margin: 0.5em;
}

@media (width <= 480px)
{
    .menu
    {
        display: flex;
        flex-direction: column;
    }
}